name: Build for CI

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [ "master" ]
    
env:
  DOTNET_VERSION: '10.0.x' # The .NET SDK version to use

jobs:
  build-plugin-ci:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: dotnet build Plugin.Maui.Biometric\Plugin.Maui.Biometric.sln -c Release
